aiohttp==3.7.4.post0
chumpy==0.70
h5py==3.1.0
ipdb==0.13.9
mypy==0.910
olefile==0.46
open3d-python==0.3.0.0
opencv-python==4.5.3.56
pylint==2.10.2
pyrender==0.1.45
pytorch-lightning==1.4.4
torchmetrics==0.6.0
shapely==1.7.1
smplx==0.1.28
umnn==1.68
yacs==0.1.8
numpy==1.23.4

--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.1.0 
